# Assignment 3

### Write a function to count the number 4 in a given list.

In [ ]:
def list4count(no):
  count = 0  
  for num in no:
    if num == 4:
      count = count + 1

  return count

print(list4count([15, 4, 6, 4,4,4,88,90,11,4,16,447, 4]))

6

### write a  function to check whether a number is divisible by another number.

In [ ]:
def divisible(NUM1, NUM2):
	return True if NUM1 % NUM2 == 0 else False
print(divisible(45, 5))
print(divisible(18, 3))
print(divisible(7, 2)) # EXTRA NOT REQUIRED

True
True
False

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [ ]:
def MAXMIN(NUMBERS):
  A =NUMBERS[0]
  B = NUMBERS[0]
  for num in NUMBERS:
    if num> A:
      A = num
    elif num< B:
        B = num
  return A, B

print( MAXMIN([2, 13, 15, 55, 4289, -12, 58,145]))

(4289, -12)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

### Write a  program to create the multiplication table (from 1 to 10) of a number.

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19